@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');

body {
  font-family: 'SUIT',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Helvetica,
  Arial,
  sans-serif;
}
/* 기본 Reset 및 Global 스타일 */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  word-break: break-all;

}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}