@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');

body {
  font-family: 'SUIT',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Helvetica,
  Arial,
  sans-serif;
}
/* 기본 Reset 및 Global 스타일 */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  word-break: break-all;

}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}


.swal2-popup {
  font-size: 14px;
}

.swal2-title {
  font-size: 18px;
}


/*CK 에디터 css*/
.ck-content p {
  margin: 0 0 1em;
}

.ck-content ul,
.ck-content ol {
  padding-left: 1.5em;
  margin: 0 0 1em;
}

.ck-content ul {
  list-style: disc;
}

.ck-content ol {
  list-style: decimal;
}

.ck-content li {
  margin-bottom: 0.25em;
}

/* 이미지 side */
.ck-content .image-style-side {
  float: right;
  margin-left: 16px;
  margin-bottom: 16px;
}

/* 이미지 정렬 */
.ck-content .image-style-align-center {
  margin-left: auto;
  margin-right: auto;
}

.ck-content .image-style-align-right {
  margin-left: auto;
  margin-right: 0;
}

/* 이미지 기본 */
.ck-content img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* float 해제 */
.ck-content::after {
  content: '';
  display: block;
  clear: both;
}